*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #e8e8e8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: .4rem .5rem;
    background-color: #ffa62b;
    color: #132743;
    font-weight: bold;
    transition: all .5s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #132743;    
    color: #ffa62b;
}

.btn > i {
    transition: .5s ease;
}

.btn:hover i {
    margin-left: .2rem;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.wrap {
    padding-bottom: 28vh;
}

.container {
    width: 94vw;
    max-width: 1100px;
    margin: auto;
}

.header > h1 {
    color: #132743;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header h1>i {
    margin-left: .3rem;
}

/* Navbar */
nav {
    width: 100vw;
    background: #132743;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.nav-items > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul > li:not(:last-child) {
    margin-right: 4rem;
}

.nav-items a {
    color: #ffa62b;
    font-weight: bold;
    transition: .3s ease;
    padding: .2rem 0;
}

.nav-items a:hover {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}
/* End Navbar */

/* Header */
.slider-image img {
    height: 86vh;
    width: 100%;
}

.slider-image {
    position: relative;
    text-align: center;        
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text > h1 {
    color: #821752;
    font-size: 4rem;
    font-weight: bold;
}

.text > h3 {
    color: #ffa62b;
    font-size: 2rem;
}
/* End Header */

/* Services */
.services {
    padding: 3rem 0;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

.services-container .card {
    background-color: #ffffff;
}

.card > img {
    width: 100%;
}

.services-container .card-body {
    padding: .5rem;
}

.card-body .title {
    color: #132743;
}

.services-container .card-footer {
    padding: .5rem 0 .8rem .5rem;

}
/* End services section */

/* Footer */
footer {
    background: #132743;
    height: 28vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.footer h4 {
    color: #e8e8e8;
    margin-bottom: 1rem;
}

.footer i, .footer a {
    color: #ffa62b;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.social i {
    font-size: 1.5rem;
    color: #ffa62b;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.contact i, .location i {
    margin-right: .2rem;
}

.contact i:first-child {
    margin-bottom: .5rem;
}

.location i:first-child{
    margin-bottom: .5rem;
}

.location-icons {
    display: flex;
    flex-direction: column;
}
/* End Footer */

/* Copyright */
.copy {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    color: #e8e8e8;
}
/* End Copyright */

/* Contact Page */
.page-header {
    background: url('../images/head.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header > h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffa62b;
}

.page-body {
    margin: 2rem 0;
}

.page-body .contact {
    display: flex;
}

.form {
    flex: 1;
    margin-left: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > label {
    margin-bottom: .3rem;
}

label > span {
    color: red;
}

form > input, form > textarea {
    border: none;
    padding: .5rem;
    border-radius: .3rem;
    border-width: 0;
    outline-width: 0;
    margin-bottom: 1rem;
}

form > button {
    border-radius: .3rem;
}

/* End Contact Page */